h1 {
  @include ps-typography(h1);
  color: getColor(text, primary);
  margin: 0;
  padding: 0;
}

h2 {
  @include ps-typography(h2);
  color: getColor(text, primary);
  margin: 0;
  padding: 0;
}
h3 {
  @include ps-typography(h3);
  color: getColor(text, primary);
  margin: 0;
  padding: 0;
}
h4 {
  @include ps-typography(h4);
  color: getColor(text, primary);
  margin: 0;
  padding: 0;
}
h5 {
  @include ps-typography(h5);
  color: getColor(text, primary);
  margin: 0;
  padding: 0;
}
h6 {
  @include ps-typography(subtitle1);
  color: getColor(text, primary);
  padding: 0;
  margin: 0;
}
p {
  @include ps-typography(body1);
  color: getColor(text, primary);
  padding: 0;
  margin: 0;
  &:empty {
    height: 26px;
  }
}

a {
  @include ps-typography(body1);
  color: getColor(primary, main);
  padding: 0;
  margin: 0;
}

ul {
  color: getColor(text, primary);
  @include ps-typography(body1);
  @include ps-typography-list(false);
}
ol {
  color: getColor(text, primary);
  @include ps-typography(body1);
  @include ps-typography-list(true);
}
blockquote {
  background-color: getColor(secondary, background);
  color: getColor(text, primary);
  @include ps-typography(h5);
  font-style: italic;
  border: unset;
  border-radius: 4px;
  padding: 16px 12px;
  margin-top: 32px;
  margin-bottom: 32px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin-bottom: 26px;
  &:last-child {
    margin-bottom: 0;
  }
}

.wp-block-separator {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 0;
  padding-bottom: 0;
  color: getColor(secondary, dark);
  opacity: 1;
  &:not(.is-style-wide):not(.is-style-dots) {
    width: 64px;
  }
  &.is-style-default {
    margin-left: 0;
  }
}
.ps-video {
  margin-top: 32px;
  margin-bottom: 32px;
}
.wp-block-image {
  margin-top: 32px;
  margin-bottom: 32px;
  img {
    border-radius: 8px;
  }
}
.wp-block-media-text {
  margin-top: 32px;
  margin-bottom: 32px;
  .wp-block-media-text__content {
    padding-left: 16px;
    padding-right: 0;
  }
  .wp-block-media-text__media {
    padding-right: 16px;
    padding-left: 0;
    img {
      border-radius: 8px;
    }
  }
  &.has-media-on-the-right {
    .wp-block-media-text__content {
      padding-right: 16px;
      padding-left: 0;
    }
    .wp-block-media-text__media {
      padding-left: 16px;
      padding-right: 0;
    }
  }
}

@include media-breakpoint-smaller(lg) {
  h1 {
    @include ps-typography(h2);
  }

  h2 {
    @include ps-typography(h3);
  }
  h3 {
    @include ps-typography(h4);
  }
  h4 {
    @include ps-typography(h5);
  }
  h5 {
    @include ps-typography(subtitle1);
  }
  h6 {
    @include ps-typography(subtitle2);
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile) {
    flex-wrap: wrap !important;
    gap: 32px;
    > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
    .wp-block-media-text__content {
      padding: 0;
      margin-top: 32px;
      margin-bottom: 0;
      grid-column: 1;
      grid-row: 2;
    }
    .wp-block-media-text__media {
      padding: 0;
      grid-column: 1;
      grid-row: 1;
    }
    &.has-media-on-the-right {
      .wp-block-media-text__content {
        padding: 0;
        margin-top: 0;
        margin-bottom: 32px;
        grid-row: 1;
      }
      .wp-block-media-text__media {
        padding: 0;
        grid-row: 2;
      }
    }
  }
}
