/* ==========================================================================
 # Main (front-end)
========================================================================== */

/* Utils
----------------------------------------------- */
@import "utils";

/* Base
----------------------------------------------- */

@import "libraries/swiper-bundle.min";
@import "../../../../plugins/x-ui-library/assets/styles/src/1.design-system/index";
@import "../../../../plugins/x-ui-library/assets/styles/src/3.library/bootstrap/bootstrap";
@import "../../../../plugins/x-ui-library/modules/svg/assets/styles/svg";
@import "../../../../plugins/x-ui-library/modules/buttons/assets/styles/buttons";
@import "../../modules/MenuBar/assets/styles/style";
@import "../../modules/footer/assets/styles/footer";
@import "../../modules/accessibility_skip_to_content/assets/styles/style";
@import "../../modules/ContactSection/assets/styles/style";
@import "../../modules/inputs/assets/styles/style";
@import "../../modules/PictureCards/assets/styles/style";
@import "../../modules/Products/assets/styles/room-card";
@import "../../modules/Products/assets/styles/coworking-card";
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";

html, body {
  width: 100%;
  overflow-x: hidden;
}
@import "src/template-parts/flexible-content/pictures_sliders_section";
@import "src/template-parts/flexible-content/text-image-link";
@import "src/template-parts/flexible-content/text_gallery_section";
@import "src/template-parts/flexible-content/calendar_booking";
@import "src/template-parts/flexible-content/icons_slider";
@import "src/template-parts/flexible-content/quote_section";
@import "src/template-parts/flexible-content/video_cta_section";
@import "src/template-parts/flexible-content/title_section";
@import "src/template-parts/flexible-content/content-background_cta_banner_section";
@import "src/template-parts/flexible-content/products_type_room_listing";
@import "src/template-parts/flexible-content/colored_title";
@import "src/template-parts/flexible-content/google-reviews";
@import "src/template-parts/flexible-content/text-image-link";
@import "src/template-parts/flexible-content/navigation-cards";
@import "src/template-parts/flexible-content/mobile_text_slider";
@import "src/template-parts/flexible-content/icons_slider_with_video";
@import "src/template-parts/flexible-content/open-positions";
@import "src/template-parts/flexible-content/youtube-card-modal";
body.page-template-template-flexible-content {
  background: #FFFFFF;
  article {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    @include media-breakpoint-smaller(md) {
      gap: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}
html, body {
  background-color: #ffffff;
  height: 100%;
}
#page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
.grid-system {

  .container {
    background-color: #F7D414;
  }
  .col {
    background-color: #3C3C3B;
    div {
      width: 100%;
      background: #E75204;
    }
  }

  .test-col {
    font-size: 0.75rem;
    background: red;
    height: 80%;
  }

}
