### WordPress
# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore
.idea/
.DS_Store
.vscode
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-includes/
wp-content/uploads
wp-content/upgrade
wp-content/upgrade-temp-backup
wp-content/uploads-webpc
wp-content/ai1wm-backups
wp-content/plugins/all-in-one-wp-migration
wp-content/plugins/all-in-one-wp-migration-unlimited-extension
# htaccess
.htaccess
/index.php
/license.txt
/local-xdebuginfo.php
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
