:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  font-style: normal;
  font-size: 16px;
  font-feature-settings: 'case', 'calt', 'tnum', 'ss01', 'zero';
  text-rendering: optimizeLegibility;
}

img {
  object-fit: cover;
  max-width: 100%;
  aspect-ratio: attr(width) / attr(height);
}

/* general classes
     ========================================================================== */

/** link
   * Based on LoVe/HAte css specificity rule
   */

/* utility classes
     ========================================================================== */

/* text modifiers */
strong {
  font-weight: 600;
}

$tags: (h1, h2, h3, h4, h5, h6, p, ul, ol, li);
@each $tag in $tags {
  #{$tag} {
    margin: 0;
    padding: 0;
    color: inherit;
  }
}

$tags: (ul, ol, li);
@each $tag in $tags {
  #{$tag} {
    list-style: none;
  }
}

@include media-breakpoint-down(lg) {
  body {
    margin-top: 64px;
  }
}
