$x_breakpoint: lg;
$x_desktop: (
	header_bg_color: white-white-50,
	shadow: medium,
	maxWidth: 64.65rem,
);
$x_mobile: (
	header_bg_color: white-white-50,
	shadow: medium,
	maxWidth: null,
);
$x_drawer: (
	bg_color: white-white-50,
	shadow: big,
	maxWidth: 23rem,
);
