footer {
  .custom-logo-link {
    margin-bottom: 32px;
    height: fit-content;
    width: fit-content;
    display: flex;

    .custom-logo {
      height: 20px;
      width: auto;
      max-width: 100%;
    }
  }

  .screen-reader-response {
    position: absolute;
    left: -10000px;
  }

  .wpcf7-form {
    margin: 0;
    .form-floating {
      width: max-content;

      .wpcf7-form-control-wrap {
        display: inline-block;
        input {
          width: auto !important;
          display: inline;
          border-radius: 4px;
          background-position: 95% 50%;
        }
      }
    }
  }
  .wpcf7-response-output,
  .wpcf7-not-valid-tip {
    display: none;
  }
  .wpcf7-email {
    font-weight: 400;
    line-height: 27px;
    border: 2px solid getColor(secondary, main);
    padding: 13.5px 16px;
    max-width: 300px;
    @include placeholder(getColor(secondary, main), 18px, 'Roboto');
  }
}
.footer-menu-wrapper {
  .ps-footer-menu-btn-white {
    color: getColor(other, white) !important; // sass-lint: important
    font-weight: 400 !important; // sass-lint: important
    letter-spacing: 0.15px !important; // sass-lint: important
    line-height: 150% !important; // sass-lint: important
    &.ps-btn.ps-btn-variant-navigation {
      &.ps-btn-status-active,
      &:focus,
      &:hover {
        font-weight: 800 !important; // sass-lint: important
      }
    }
  }
  .navigation-menu {
    .menu-item:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
