.x-coworking-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: getSpacing(2);
    box-shadow: getShadow(clear);
    padding: getSpacing(3);
    border-radius: getBorderRadius(3);
    overflow: hidden;
    &--style-outdoor {
        &__content {
            padding-top: toRem(16);
        }
    }
    &__image {
        width: 100%;
        min-height: toRem(169);
        border-radius: getBorderRadius(3);
        overflow: hidden;
        position: relative;
        .x-coworking-card__image__src {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: getSpacing(1);
    }
    &__title {
        @include ps-typography(h5);
        color: getColor(black);
    }

    &__price {
        display: flex;
        align-items: center;
        gap: toRem(4);
        @include ps-typography(body-2);
        .x-coworking-card__price__icon {
            fill: getColor(black);
        }
    }
    &__description {
        padding: getSpacing(1) toRem(4.5);
    }
    @include media-breakpoint-down(md) {
    }
}
