.contact-section {
  .contact-section__image {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    min-height: 320px;
    &--full-height {
      height: 100%;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .contact-list-item {
    .contact-list-item__icon {
      padding: getSpacing(1);
      background-color: getColor(medium-turquoise-50);
      border-radius: 50%;
    }
  }
  .wpcf7-form {
    --response-output-color: inherit;
    .wpcf7-response-output {
      border: none;
      margin: 0;
      padding: 0;
      color: var(--response-output-color);
      @include ps-typography(input-text);
    }
    .wpcf7-x_submit  {
      align-self: flex-end;
      width: max-content;
    }
    &.invalid {
      --response-output-color: #{getColor(system-error)};
    }
    &.sent {
      --response-output-color: #{getColor(orange-700)};
    }
  }
}
