.ps-btn {
  cursor: pointer;
  color: getColor(text, primary);
  width: max-content;
  border-radius: 5px;
  &:disabled {
    cursor: not-allowed;
  }
  &.ps-btn-variant-contained {
    background: getColor(text, background);
    border: none;
    text-decoration: none;
    &.ps-btn-color-primary {
      background-color: getColor(primary, main);
      color: getColor(secondary, dark);
      &:hover,
      &:focus,
      &.ps-btn-status-active {
        background-color: getColor(primary, dark);
        color: getColor(secondary, dark);
      }
      &:disabled {
        background-color: getColor(text, background);
        color: getColor(text, disabled);
        &.ps-btn-content-type-icon-right,
        &.ps-btn-content-type-icon-left {
          .ps-icon {
            fill: #{getColor(text, disabled)};
          }
        }
      }
      &.ps-btn-content-type-icon-right,
      &.ps-btn-content-type-icon-left {
        .ps-icon {
          fill: #{getColor(secondary, dark)};
        }
      }
    }
    &.ps-btn-color-secondary {
      background-color: getColor(secondary, main);
      color: getColor(secondary, contrast-text);
      &:hover,
      &:focus,
      &.ps-btn-status-active {
        background-color: getColor(secondary, dark);
        color: getColor(secondary, contrast-text);
      }
      &:disabled {
        background-color: getColor(text, background);
        color: getColor(text, disabled);
        &.ps-btn-content-type-icon-right,
        &.ps-btn-content-type-icon-left {
          .ps-icon {
            fill: #{getColor(text, disabled)};
          }
        }
      }
      &.ps-btn-content-type-icon-right,
      &.ps-btn-content-type-icon-left {
        .ps-icon {
          fill: #{getColor(other, white)};
        }
      }
    }
  }
  &.ps-btn-variant-outlined {
    border: 1px solid getColor(text, background);
    background-color: getColor(text, background);
    text-decoration: none;
    &.ps-btn-color-primary {
      border-color: getColor(primary, border);
      color: getColor(secondary, dark);
      &:hover,
      &:focus,
      &.ps-btn-status-active {
        background-color: rgba(getColor(primary, background), 0.5);
        border-color: getColor(primary, border);
        color: getColor(secondary, dark);
      }
      &:disabled {
        background-color: getColor(text, background);
        color: getColor(text, disabled);
        border-color: getColor(text, background);
        &.ps-btn-content-type-icon-right,
        &.ps-btn-content-type-icon-left {
          .ps-icon {
            fill: #{getColor(text, disabled)};
          }
        }
      }
      &.ps-btn-content-type-icon-right,
      &.ps-btn-content-type-icon-left {
        .ps-icon {
          fill: #{getColor(secondary, main)};
        }
      }
    }
    &.ps-btn-color-secondary {
      border-color: getColor(secondary, border);
      color: getColor(text, primary);
      &:hover,
      &:focus,
      &.ps-btn-status-active {
        background-color: rgba(getColor(secondary, background), 0.5);
      }
      &:disabled {
        background-color: getColor(text, background);
        color: getColor(text, disabled);
        border-color: getColor(text, background);
      }
      &.ps-btn-content-type-icon-right,
      &.ps-btn-content-type-icon-left {
        .ps-icon {
          fill: #{getColor(secondary, main)};
        }
      }
    }
  }
  &.ps-btn-variant-donate {
  }
  &.ps-btn-variant-text {
    border: none;
    background-color: transparent;
    text-decoration: none;
    &.ps-btn-color-primary {
      &:hover,
      &:focus,
      &.ps-btn-status-active {
        background-color: rgba(getColor(primary, background), 0.5);
      }
      &:disabled {
        color: getColor(text, disabled);
        &.ps-btn-content-type-icon-right,
        &.ps-btn-content-type-icon-left {
          .ps-icon {
            fill: #{getColor(text, disabled)};
          }
        }
      }
      &.ps-btn-content-type-icon-right,
      &.ps-btn-content-type-icon-left {
        .ps-icon {
          fill: #{getColor(secondary, main)};
        }
      }
    }
    &.ps-btn-color-secondary {
      &:hover,
      &:focus,
      &.ps-btn-status-active {
        background-color: rgba(getColor(secondary, background), 0.5);
      }
      &:disabled {
        color: getColor(text, disabled);
        &.ps-btn-content-type-icon-right,
        &.ps-btn-content-type-icon-left {
          .ps-icon {
            fill: #{getColor(text, disabled)};
          }
        }
      }
      &.ps-btn-content-type-icon-right,
      &.ps-btn-content-type-icon-left {
        .ps-icon {
          fill: #{getColor(secondary, main)};
        }
      }
    }
  }
  &.ps-btn-variant-navigation {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    &:hover,
    &:focus,
    &.ps-btn-status-active {
      font-weight: 700 !important;
    }
    &.ps-btn-color-primary {
      color: #{getColor('primary', 'main')};
      &:hover,
      &:focus,
      &.ps-btn-status-active {
        color: #{getColor('primary', 'dark')};
      }
      &:disabled {
        color: getColor(text, disabled);
      }
    }
    &.ps-btn-color-secondary {
      color: #{getColor(secondary, main)};
      &:hover,
      &:focus {
        color: #{getColor(secondary, dark)};
      }
      &:disabled {
        color: getColor(text, disabled);
      }
    }
  }
  &.ps-btn-content-type-icon-right,
  &.ps-btn-content-type-icon-left {
    display: flex;
    align-items: center;
    > * + * {
      margin-left: 8px;
    }
    svg {
      fill: #{getColor(secondary, main)};
    }
    &.ps-btn-color-secondary {
      .ps-icon {
        fill: #{getColor(other, white)};
      }
    }
    &.ps-btn-color-primary {
      .ps-icon {
        fill: #{getColor(secondary, dark)};
      }
    }
  }
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      &.ps-btn-text-size#{$infix}-large {
        @include ps-typography(button_large);
      }
      &.ps-btn-text-size#{$infix}-medium {
        @include ps-typography(button_medium);
      }
      &.ps-btn-text-size#{$infix}-small {
        @include ps-typography(button_small);
      }
      &.ps-btn-size#{$infix}-large {
        padding: 15px 24px;
      }
      &.ps-btn-size#{$infix}-medium {
        padding: 12px 16px;
      }
      &.ps-btn-size#{$infix}-none {
        padding: 0;
      }
    }
  }
}
