.ps-btn-icon {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  border: none;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }

  &.ps-btn-icon-color-base {
    svg {
      fill: #{getColor(text, secondary)};
    }
  }
  &.ps-btn-icon-color-secondary {
    background-color: transparent;
    svg {
      fill: #{getColor(secondary, main)};
    }
    &:hover {
      background-color: #{getColor(secondary, background)};
    }
    &:disabled {
      background-color: transparent;
      svg {
        fill: #{getColor(text, disabled)};
      }
    }
  }
  &.ps-btn-icon-color-primary {
    background-color: transparent;
    svg {
      fill: #{getColor(primary, main)};
    }
    &:hover {
      background-color: #{getColor(primary, background)};
    }
    &:disabled {
      background-color: transparent;
      svg {
        fill: #{getColor(text, disabled)};
      }
    }
  }
}
