.ps-navigation-bar {
  background-color: #{getColor(other, white)};
  box-shadow: 0px 0px 4px rgba(getColor(secondary, main), 0.12);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  .navigation-menu {
    display: flex;
    height: 100%;
    list-style: none;
  }

  .ps-navigation-bar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ps-navigation-bar-left {
      width: max-content;
      align-items: center;
      display: flex;
    }
  }
}

@include media-breakpoint-greater(xl) {
  .ps-navigation-bar {
    .navigation-menu {
      li:not(:first-child) {
        margin-left: 32px !important;
      }
    }
  }
}

@include media-breakpoint-greater(lg) {
  .ps-navigation-bar {
    .navigation-menu {
      justify-content: center;
      align-items: center;

      li:not(:first-child) {
        margin-left: 25px;
      }
    }

    .ps-navigation-bar-inner {
      margin-left: -16px;
      margin-right: -16px;
      position: relative;
    }

    .ps-navigation-bar-center {
      position: absolute;
      width: max-content;
      left: 0;
      right: 0;
      height: 100%;
      margin: auto;
    }

    .ps-btn-type-navigation-type-secondary {
      .ps-btn {
        display: inline-block;
        padding: 15px 24px;
        background: #{getColor(secondary, main)};
        color: #{getColor(other, white)};
        text-decoration: none;

        &:hover,
        &:focus {
          font-weight: 500 !important;
          background-color: #{getColor(secondary, dark)};
          color: #{getColor(other, white)};
        }
      }
    }
  }
}

@include media-breakpoint-smaller(lg) {
  .ps-navigation-bar {
    .navigation-menu {
      flex-direction: column;
    }

    .ps-navigation-bar-navigation {
      position: relative;
    }

    .ps-navigation-bar-navigation-wrapper {
      position: absolute;
      right: 0;
      top: calc(100% + 16px);
      background-color: #{getColor(other, white)};
      z-index: 11;
      padding: 16px 0;
      width: 100%;
      min-width: 242px;
      overflow-x: hidden;
      box-shadow: 0 1px 4px 1px rgba(getColor(secondary, dark), 0.14);
      border-radius: 8px;
      animation-name: show_menu;
      animation-duration: 0.5s;

      &.hide-menu {
        animation-name: hide_menu;
        opacity: 0;
        visibility: hidden;
      }

      .menu-item a {
        padding: 16px 0;
        display: flex;
      }

      .navigation-separator {
        height: 1px;
        margin: 16px 0;
        width: calc(100% + 32px);
        background-color: #{getColor(secondary, background)};
        position: relative;
        left: -16px;
      }
    }

    @keyframes hide_menu {
      from {
        opacity: 1;
        visibility: visible;
      }

      to {
        opacity: 0;
        visibility: hidden;
      }
    }

    @keyframes show_menu {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .ps-navigation-bar-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .ps-navigation-bar-left {
        width: max-content;
        display: flex;
      }
    }
  }
}
