.ps-input-radio {
  position: absolute;
  left: -1000000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  ~ .ps-radio-button {
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    --checkbox-color: #{getColor(text, secondary)};
    * {
      cursor: pointer;
    }
    &.ps-radio-button-color-primary {
      --checkbox-color: #{getColor(primary, main)};
    }
    &.ps-radio-button-color-secondary {
      --checkbox-color: #{getColor(secondary, main)};
    }
    @include ps-typography(helper_text);

    .ps-radio-button-visual {
      display: inline-flex;
      padding: 8px;
      .ps-radio-button-visual-filled {
        display: none;
      }
      .ps-radio-button-visual-blank {
        svg {
          stroke: getColor(text, secondary);
        }
      }
      svg {
        fill: var(--checkbox-color);
      }
    }
  }

  &:checked ~ .ps-radio-button .ps-radio-button-visual {
    .ps-radio-button-visual-filled {
      display: block;
    }
    .ps-radio-button-visual-blank {
      display: none;
    }
  }

  &:disabled {
    & ~ .ps-radio-button * {
      cursor: not-allowed;
    }
    & ~ .ps-radio-button .ps-radio-button-visual {
      .ps-radio-button-visual-filled {
        svg {
          fill: getColor(text, disabled);
        }
      }
    }
  }
}
