.pictures-slider-section {
  .pictures-slides {
    padding-top: 4px;
    padding-bottom: 4px;
    width: calc(100% + 50 * var(--container-padding));
    position: relative;
    &:not(.swiper-initialized) {
      .swiper-wrapper {
        display: flex;
        gap: 16px;
      }
    }
    .picture-slide {
      width: max-content;
    }
    .space-slide {
      width: var(--container-padding);
    }
  }
}
