.video-cta-section {

    .text-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-section-wrapper {
            display: flex;
            gap: getSpacing(5);
            flex-direction: column;
            align-items: flex-start;
        }
        .video-cta-section__content {
            color: var(--content-color);
            font-weight: 400;
            strong, b {
                color: var(--bold-content-color);
            }
        }
    }
    @include media-breakpoint-down(md) {
        .text-section {
            .text-section-wrapper {
                gap: getSpacing(3);
                align-items: center;
            }
        }
    }
}
